n8n-workflows/dashboard-today-webhook.json
{
  "name": "Nexus: Dashboard Today API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-dashboard-today",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Dashboard Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-dashboard-today",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dashboard.get_payload() AS payload;",
        "options": {}
      },
      "id": "get-payload",
      "name": "Get Payload",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.payload }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [680, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Dashboard Webhook": {
      "main": [
        [
          {
            "node": "Get Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payload": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "nexus"
    }
  ]
}
