n8n-workflows/insights-webhook.json
{
  "name": "Nexus - AI Insights Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-insights",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nexus-insights"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {},
        "text": "=You are a personal finance advisor. Analyze the following spending data and provide concise, actionable insights. Focus on:\n1. Notable spending patterns\n2. Budget warnings or concerns\n3. Specific recommendations\n4. Positive observations\n\nKeep your response to 3-4 sentences, friendly and encouraging.\n\nSpending Data:\n{{ $json.body.summary }}\n\nProvide insights:"
      },
      "name": "Claude AI",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"insights\": {{ JSON.stringify($json.response || $json.text || $json.output) }}\n  }\n}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Error generating insights: {{ $json.message }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Claude AI", "type": "main", "index": 0}]]
    },
    "Claude AI": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
