n8n-workflows/transaction-delete-webhook.json
{
  "name": "Nexus - Delete Transaction Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "nexus-delete-transaction/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nexus-delete-transaction"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM finance.transactions\nWHERE id = {{ $json.params.id }}\nRETURNING id, merchant_name;",
        "options": {}
      },
      "name": "Delete Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Transaction deleted successfully\"\n}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Error deleting transaction: {{ $json.message }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Delete Transaction", "type": "main", "index": 0}]]
    },
    "Delete Transaction": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
