backend/n8n-workflows/with-auth/dashboard-today-webhook.json
{
  "name": "Nexus: Dashboard Today API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-dashboard-today",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Dashboard Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "webhookId": "nexus-dashboard-today",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dashboard.get_payload() AS payload;",
        "options": {}
      },
      "id": "get-payload",
      "name": "Get Payload",
      "type": "n8n-nodes-base.postgres",
      "position": [
        660,
        300
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.payload }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        880,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-api-key'] }}",
              "operation": "equals",
              "value2": "={{ $env.NEXUS_API_KEY }}"
            }
          ]
        }
      },
      "name": "Check API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Unauthorized - Invalid API Key\"}",
        "options": {
          "responseCode": 401
        }
      },
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        450
      ]
    }
  ],
  "connections": {
    "Dashboard Webhook": {
      "main": [
        [
          {
            "node": "Check API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payload": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Key": {
      "main": [
        [
          {
            "node": "Get Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "nexus"
    }
  ]
}