n8n-workflows/with-auth/monthly-trends-webhook.json
{
  "name": "Nexus - Monthly Trends Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-monthly-trends",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "nexus-monthly-trends"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get monthly spending for last N months\nWITH monthly_totals AS (\n  SELECT \n    TO_CHAR(date, 'YYYY-MM') as month,\n    SUM(ABS(amount)) as total_spent\n  FROM finance.transactions\n  WHERE date >= CURRENT_DATE - INTERVAL '{{ $json.query.months || 3 }} months'\n  GROUP BY TO_CHAR(date, 'YYYY-MM')\n  ORDER BY month DESC\n),\ncategory_breakdown AS (\n  SELECT \n    TO_CHAR(date, 'YYYY-MM') as month,\n    category,\n    SUM(ABS(amount)) as amount\n  FROM finance.transactions\n  WHERE date >= CURRENT_DATE - INTERVAL '{{ $json.query.months || 3 }} months'\n    AND category IS NOT NULL\n  GROUP BY TO_CHAR(date, 'YYYY-MM'), category\n)\nSELECT \n  mt.month,\n  mt.total_spent,\n  jsonb_object_agg(cb.category, cb.amount) FILTER (WHERE cb.category IS NOT NULL) as category_breakdown\nFROM monthly_totals mt\nLEFT JOIN category_breakdown cb ON mt.month = cb.month\nGROUP BY mt.month, mt.total_spent\nORDER BY mt.month;",
        "options": {}
      },
      "name": "Get Monthly Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"monthly_spending\": {{ JSON.stringify($json) }}\n  }\n}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Error fetching monthly trends: {{ $json.message }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-api-key'] }}",
              "operation": "equals",
              "value2": "={{ $env.NEXUS_API_KEY }}"
            }
          ]
        }
      },
      "name": "Check API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Unauthorized - Invalid API Key\"}",
        "options": {
          "responseCode": 401
        }
      },
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Monthly Data": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Key": {
      "main": [
        [
          {
            "node": "Get Monthly Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}