n8n-workflows/with-auth/obico-events-webhook.json
{
  "name": "Obico - Events Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obico-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Obico Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "obico-events"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-failure",
              "leftValue": "={{ $json.event.type }}",
              "rightValue": "PrintFailure",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-failure",
      "name": "Is Failure?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        670,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8123/api/events/obico_print_failure",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ printer: $json.printer.name, filename: $json.print?.filename, event_type: $json.event.type, is_warning: $json.event.is_warning, print_paused: $json.event.print_paused, img_url: $json.img_url }) }}"
      },
      "id": "ha-failure-event",
      "name": "HA Failure Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        890,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "i8GNdq9zaSY5GVVO",
          "name": "HA Token New"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8123/api/events/obico_print_event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ printer: $json.printer.name, filename: $json.print?.filename, event_type: $json.event.type, img_url: $json.img_url }) }}"
      },
      "id": "ha-print-event",
      "name": "HA Print Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        890,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "i8GNdq9zaSY5GVVO",
          "name": "HA Token New"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, received: $json.event?.type || 'unknown' }) }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1110,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-api-key'] }}",
              "operation": "equals",
              "value2": "={{ $env.NEXUS_API_KEY }}"
            }
          ]
        }
      },
      "name": "Check API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Unauthorized - Invalid API Key\"}",
        "options": {
          "responseCode": 401
        }
      },
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    }
  ],
  "connections": {
    "Obico Webhook": {
      "main": [
        [
          {
            "node": "Check API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failure?": {
      "main": [
        [
          {
            "node": "HA Failure Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HA Print Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA Failure Event": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA Print Event": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Key": {
      "main": [
        [
          {
            "node": "Is Failure?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "obico"
    },
    {
      "name": "3d-printer"
    }
  ]
}