backend/n8n-workflows/bjj-webhooks.json
{
  "name": "Nexus: BJJ API Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-bjj-log",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-log",
      "name": "POST /nexus-bjj-log",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 200],
      "typeVersion": 2,
      "webhookId": "nexus-bjj-log"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-bjj-history",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-history",
      "name": "GET /nexus-bjj-history",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 500],
      "typeVersion": 2,
      "webhookId": "nexus-bjj-history"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-bjj-streak",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-streak",
      "name": "GET /nexus-bjj-streak",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 800],
      "typeVersion": 2,
      "webhookId": "nexus-bjj-streak"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body;\n\nconst sessionDate = b.session_date;\nconst sessionType = b.session_type || 'nogi';\nconst durationMinutes = b.duration_minutes || 60;\nconst startTime = b.start_time ? `'${b.start_time}'::time` : 'NULL';\nconst endTime = b.end_time ? `'${b.end_time}'::time` : 'NULL';\nconst strain = b.strain !== undefined && b.strain !== null ? b.strain : 'NULL';\nconst hrAvg = b.hr_avg !== undefined && b.hr_avg !== null ? b.hr_avg : 'NULL';\nconst calories = b.calories !== undefined && b.calories !== null ? b.calories : 'NULL';\nconst techniques = b.techniques && b.techniques.length > 0 \n  ? `ARRAY[${b.techniques.map(t => `'${t.replace(/'/g, \"''\")}'`).join(',')}]` \n  : 'NULL';\nconst notes = b.notes ? `'${b.notes.replace(/'/g, \"''\")}'` : 'NULL';\nconst source = b.source || 'manual';\n\nconst query = `\nINSERT INTO health.bjj_sessions (\n  session_date, session_type, duration_minutes, start_time, end_time,\n  strain, hr_avg, calories, techniques, notes, source\n) VALUES (\n  '${sessionDate}'::date,\n  '${sessionType}',\n  ${durationMinutes},\n  ${startTime},\n  ${endTime},\n  ${strain},\n  ${hrAvg},\n  ${calories},\n  ${techniques},\n  ${notes},\n  '${source}'\n)\nON CONFLICT (session_date) DO UPDATE SET\n  session_type = EXCLUDED.session_type,\n  duration_minutes = EXCLUDED.duration_minutes,\n  start_time = COALESCE(EXCLUDED.start_time, health.bjj_sessions.start_time),\n  end_time = COALESCE(EXCLUDED.end_time, health.bjj_sessions.end_time),\n  strain = COALESCE(EXCLUDED.strain, health.bjj_sessions.strain),\n  hr_avg = COALESCE(EXCLUDED.hr_avg, health.bjj_sessions.hr_avg),\n  calories = COALESCE(EXCLUDED.calories, health.bjj_sessions.calories),\n  techniques = COALESCE(EXCLUDED.techniques, health.bjj_sessions.techniques),\n  notes = COALESCE(EXCLUDED.notes, health.bjj_sessions.notes),\n  source = EXCLUDED.source,\n  updated_at = NOW()\nRETURNING *, (xmax = 0) as is_new;\n`;\n\nreturn [{ json: { query } }];"
      },
      "id": "build-log-query",
      "name": "Build Log Query",
      "type": "n8n-nodes-base.code",
      "position": [440, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "upsert-session",
      "name": "Upsert Session",
      "type": "n8n-nodes-base.postgres",
      "position": [640, 200],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  session: {\n    id: $json.id,\n    session_date: $json.session_date,\n    session_type: $json.session_type,\n    duration_minutes: $json.duration_minutes,\n    start_time: $json.start_time,\n    end_time: $json.end_time,\n    strain: $json.strain,\n    hr_avg: $json.hr_avg,\n    calories: $json.calories,\n    source: $json.source,\n    techniques: $json.techniques,\n    notes: $json.notes,\n    created_at: $json.created_at,\n    updated_at: $json.updated_at\n  },\n  is_new: $json.is_new\n} }}",
        "options": {}
      },
      "id": "respond-log",
      "name": "Respond Log",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [840, 200],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst limit = q.limit ? parseInt(q.limit) : 20;\nconst offset = q.offset ? parseInt(q.offset) : 0;\n\nconst query = `\nWITH sessions AS (\n  SELECT\n    id,\n    session_date,\n    session_type,\n    duration_minutes,\n    start_time::text,\n    end_time::text,\n    strain,\n    hr_avg,\n    calories,\n    source,\n    techniques,\n    notes,\n    created_at,\n    updated_at\n  FROM health.bjj_sessions\n  ORDER BY session_date DESC\n  LIMIT ${limit}\n  OFFSET ${offset}\n),\nstreak AS (\n  SELECT * FROM health.get_bjj_streaks()\n),\ntotal AS (\n  SELECT COUNT(*)::int as cnt FROM health.bjj_sessions\n)\nSELECT\n  json_build_object(\n    'success', true,\n    'sessions', COALESCE((SELECT json_agg(s) FROM sessions s), '[]'::json),\n    'count', (SELECT COUNT(*)::int FROM sessions),\n    'total', (SELECT cnt FROM total),\n    'streak', (SELECT row_to_json(streak) FROM streak)\n  ) as result;\n`;\n\nreturn [{ json: { query } }];"
      },
      "id": "build-history-query",
      "name": "Build History Query",
      "type": "n8n-nodes-base.code",
      "position": [440, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.postgres",
      "position": [640, 500],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.result }}",
        "options": {}
      },
      "id": "respond-history",
      "name": "Respond History",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [840, 500],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  current_streak,\n  longest_streak,\n  total_sessions::int,\n  sessions_this_month::int,\n  sessions_this_week::int\nFROM health.get_bjj_streaks();",
        "options": {}
      },
      "id": "fetch-streak",
      "name": "Fetch Streak",
      "type": "n8n-nodes-base.postgres",
      "position": [480, 800],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  current_streak: $json.current_streak,\n  longest_streak: $json.longest_streak,\n  total_sessions: $json.total_sessions,\n  sessions_this_month: $json.sessions_this_month,\n  sessions_this_week: $json.sessions_this_week\n} }}",
        "options": {}
      },
      "id": "respond-streak",
      "name": "Respond Streak",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [720, 800],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "POST /nexus-bjj-log": {
      "main": [
        [
          {
            "node": "Build Log Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Log Query": {
      "main": [
        [
          {
            "node": "Upsert Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Session": {
      "main": [
        [
          {
            "node": "Respond Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /nexus-bjj-history": {
      "main": [
        [
          {
            "node": "Build History Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build History Query": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "Respond History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /nexus-bjj-streak": {
      "main": [
        [
          {
            "node": "Fetch Streak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Streak": {
      "main": [
        [
          {
            "node": "Respond Streak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "pinData": {}
}
