backend/n8n-workflows/budget-fetch-webhook.json
{
  "name": "Nexus - Fetch Budgets Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-budgets",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nexus-budgets"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get all budgets for current month with spending data\nSELECT \n  b.id,\n  b.month,\n  b.category,\n  b.budget_amount,\n  COALESCE(SUM(ABS(t.amount)), 0) as spent,\n  b.budget_amount - COALESCE(SUM(ABS(t.amount)), 0) as remaining\nFROM finance.budgets b\nLEFT JOIN finance.transactions t ON \n  t.category = b.category \n  AND DATE_TRUNC('month', t.date) = b.month\nWHERE b.month = DATE_TRUNC('month', (NOW() AT TIME ZONE 'Asia/Dubai')::date)\nGROUP BY b.id, b.month, b.category, b.budget_amount\nORDER BY b.category;",
        "options": {}
      },
      "name": "Get Budgets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const budgetMap = new Map();\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (!budgetMap.has(r.id)) {\n    budgetMap.set(r.id, {\n      id: r.id,\n      month: r.month,\n      category: r.category,\n      budget_amount: parseFloat(r.budget_amount) || 0,\n      spent: parseFloat(r.spent) || 0,\n      remaining: parseFloat(r.remaining) || 0\n    });\n  }\n}\nreturn [{ json: { budgets: Array.from(budgetMap.values()) } }];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"budgets\": {{ JSON.stringify($json.budgets) }}\n  }\n}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [870, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Error fetching budgets: {{ $json.message }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get Budgets", "type": "main", "index": 0}]]
    },
    "Get Budgets": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
