backend/n8n-workflows/budget-set-webhook.json
{
  "name": "Nexus - Set Budget Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-set-budget",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nexus-set-budget"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert budget (insert or update if exists)\nINSERT INTO finance.budgets (month, category, budget_amount)\nVALUES (\n  DATE_TRUNC('month', CURRENT_DATE),\n  '{{ $json.body.category }}',\n  {{ $json.body.amount }}\n)\nON CONFLICT (month, category) \nDO UPDATE SET \n  budget_amount = {{ $json.body.amount }}\nRETURNING id, month, category, budget_amount;",
        "options": {}
      },
      "name": "Upsert Budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get current month's spending for this category\nSELECT \n  COALESCE(SUM(ABS(amount)), 0) as spent\nFROM finance.transactions\nWHERE TO_CHAR(date, 'YYYY-MM') = TO_CHAR(CURRENT_DATE, 'YYYY-MM')\n  AND category = '{{ $json.category }}'",
        "options": {}
      },
      "name": "Get Category Spending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Budget set for {{ $('Upsert Budget').item.json.category }}\",\n  \"data\": {\n    \"budget\": {\n      \"id\": {{ $('Upsert Budget').item.json.id }},\n      \"month\": \"{{ $('Upsert Budget').item.json.month }}\",\n      \"category\": \"{{ $('Upsert Budget').item.json.category }}\",\n      \"budget_amount\": {{ $('Upsert Budget').item.json.budget_amount }},\n      \"spent\": {{ $('Get Category Spending').item.json.spent }},\n      \"remaining\": {{ $('Upsert Budget').item.json.budget_amount - $('Get Category Spending').item.json.spent }}\n    }\n  }\n}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Error setting budget: {{ $json.message }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Upsert Budget", "type": "main", "index": 0}]]
    },
    "Upsert Budget": {
      "main": [[{"node": "Get Category Spending", "type": "main", "index": 0}]]
    },
    "Get Category Spending": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
