backend/n8n-workflows/budget-delete-webhook.json
{
  "name": "Nexus - Delete Budget Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "nexus-budget/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nexus-delete-budget"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Delete budget by ID\nDELETE FROM finance.budgets\nWHERE id = {{ $json.params.id }}\nRETURNING id, category;",
        "options": {}
      },
      "name": "Delete Budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Budget deleted for {{ $json.category }}\"\n}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Error deleting budget: {{ $json.message }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Delete Budget", "type": "main", "index": 0}]]
    },
    "Delete Budget": {
      "main": [
        [{"node": "Response", "type": "main", "index": 0}],
        [{"node": "Error Response", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
