backend/n8n-workflows/calendar-sync-webhook.json
{
  "name": "Calendar Sync Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-calendar-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "nexus-calendar-sync"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ops.start_sync('calendar', 'n8n') as run_id;",
        "options": {}
      },
      "name": "Start Sync Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [350, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Save run_id and extract events from request body\nconst runId = $input.item.json.run_id;\nconst body = $('Webhook').item.json.body;\n\nif (!body || !body.events || !Array.isArray(body.events)) {\n  return [{ json: { success: false, error: 'Invalid payload: events array required', run_id: runId } }];\n}\n\nconst events = body.events;\nconst clientId = body.client_id || null;\nconst device = body.device || 'unknown';\nconst source = body.source || 'ios_eventkit';\n\nconst formattedEvents = events.map(e => ({\n  event_id: e.event_id,\n  title: e.title || null,\n  start_at: e.start_at,\n  end_at: e.end_at,\n  is_all_day: e.is_all_day || false,\n  calendar_name: e.calendar_name || null,\n  location: e.location || null,\n  notes: e.notes || null,\n  recurrence_rule: e.recurrence_rule || null,\n  client_id: clientId,\n  source: source,\n  run_id: runId\n}));\n\nreturn formattedEvents.map(e => ({ json: e }));"
      },
      "name": "Parse Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw.calendar_events (\n  event_id,\n  title,\n  start_at,\n  end_at,\n  is_all_day,\n  calendar_name,\n  location,\n  notes,\n  recurrence_rule,\n  client_id,\n  source\n)\nVALUES (\n  '{{ $json.event_id }}',\n  {{ $json.title ? \"'\" + $json.title.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.start_at }}'::timestamptz,\n  '{{ $json.end_at }}'::timestamptz,\n  {{ $json.is_all_day }},\n  {{ $json.calendar_name ? \"'\" + $json.calendar_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.location ? \"'\" + $json.location.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.notes ? \"'\" + $json.notes.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.recurrence_rule ? \"'\" + $json.recurrence_rule + \"'\" : 'NULL' }},\n  {{ $json.client_id ? \"'\" + $json.client_id + \"'::uuid\" : 'NULL' }},\n  '{{ $json.source }}'\n)\nON CONFLICT (event_id, source) DO UPDATE SET\n  title = EXCLUDED.title,\n  start_at = EXCLUDED.start_at,\n  end_at = EXCLUDED.end_at,\n  is_all_day = EXCLUDED.is_all_day,\n  calendar_name = EXCLUDED.calendar_name,\n  location = EXCLUDED.location,\n  notes = EXCLUDED.notes,\n  recurrence_rule = EXCLUDED.recurrence_rule\nRETURNING id, (xmax = 0) as was_inserted;",
        "options": {}
      },
      "name": "Upsert Calendar Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [700, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst inserted = results.filter(r => r.json.was_inserted === true).length;\nconst updated = results.filter(r => r.json.was_inserted === false).length;\nconst runId = $('Parse Events').first().json.run_id;\n\nreturn [{\n  json: {\n    success: true,\n    run_id: runId,\n    inserted: {\n      events: inserted,\n      updated: updated,\n      total: results.length\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ops.finish_sync(\n  '{{ $json.run_id }}'::uuid,\n  'success',\n  {{ $json.inserted.total }},\n  NULL,\n  '{{ JSON.stringify({ inserted: $json.inserted.events, updated: $json.inserted.updated }) }}'::jsonb\n);",
        "options": {}
      },
      "name": "Finish Sync Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1100, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pass through the aggregated result for the webhook response\nconst agg = $('Aggregate Results').item.json;\nreturn [{ json: agg }];"
      },
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Start Sync Run", "type": "main", "index": 0 } ]]
    },
    "Start Sync Run": {
      "main": [[ { "node": "Parse Events", "type": "main", "index": 0 } ]]
    },
    "Parse Events": {
      "main": [[ { "node": "Upsert Calendar Events", "type": "main", "index": 0 } ]]
    },
    "Upsert Calendar Events": {
      "main": [[ { "node": "Aggregate Results", "type": "main", "index": 0 } ]]
    },
    "Aggregate Results": {
      "main": [[ { "node": "Finish Sync Run", "type": "main", "index": 0 } ]]
    },
    "Finish Sync Run": {
      "main": [[ { "node": "Build Response", "type": "main", "index": 0 } ]]
    },
    "Build Response": {
      "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "notes": "Calendar sync webhook with ops.sync_runs observability.\nEndpoint: POST /webhook/nexus-calendar-sync\nRecords start/finish in ops.sync_runs for freshness tracking."
  }
}
