backend/n8n-workflows/daily-life-summary-api.json
{
  "name": "Nexus: Daily Life Summary API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-daily-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-new",
      "name": "Daily Summary Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-daily-summary-v2",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT life.get_daily_summary(CURRENT_DATE) AS payload;",
        "options": {}
      },
      "id": "get-payload-new",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.payload }}",
        "options": {}
      },
      "id": "respond-new",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [680, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Daily Summary Webhook": {
      "main": [
        [
          {
            "node": "Get Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "tags": [
    {
      "name": "nexus"
    },
    {
      "name": "lifeos"
    }
  ]
}
