backend/n8n-workflows/expense-log-webhook.json
{
  "name": "Nexus: Quick Expense API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-expense",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 304],
      "webhookId": "nexus-expense",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.body.text || '';\n\n// Simple parsing: extract numbers as amount, rest as merchant\n// Patterns: \"50 coffee\", \"coffee 50\", \"50aed starbucks\", \"starbucks 50 aed\"\n\n// Try to extract amount (number with optional decimals)\nconst amountMatch = text.match(/([\\d]+\\.?[\\d]*)\\s*(aed|usd|eur|dhs)?/i);\nlet amount = amountMatch ? parseFloat(amountMatch[1]) : 0;\n\n// Remove the amount part to get merchant name\nlet merchantName = text\n  .replace(/[\\d]+\\.?[\\d]*\\s*(aed|usd|eur|dhs)?/gi, '')\n  .trim()\n  .replace(/\\s+/g, ' ');\n\nif (!merchantName) merchantName = 'Quick Expense';\n\n// Make amount negative (expense)\nif (amount > 0) amount = -amount;\n\n// Escape single quotes for SQL\nmerchantName = merchantName.replace(/'/g, \"''\");\n\nreturn {\n  json: {\n    merchantName,\n    amount,\n    originalText: text\n  }\n};"
      },
      "id": "parse",
      "name": "Parse Text",
      "type": "n8n-nodes-base.code",
      "position": [448, 304],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO finance.transactions (merchant_name, amount, date, currency, notes)\nVALUES (\n  '{{ $json.merchantName }}',\n  {{ $json.amount }},\n  (NOW() AT TIME ZONE 'Asia/Dubai')::date,\n  'AED',\n  'Quick log: {{ $json.originalText.replace(/'/g, \"''\") }}'\n)\nRETURNING id, merchant_name, amount, to_char(date, 'YYYY-MM-DD') as date, currency;",
        "options": {}
      },
      "id": "insert",
      "name": "Insert Transaction",
      "type": "n8n-nodes-base.postgres",
      "position": [640, 304],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    message: 'Logged: ' + data.merchant_name + ' - ' + Math.abs(data.amount) + ' AED',\n    data: {\n      transaction: {\n        id: data.id,\n        merchant_name: data.merchant_name,\n        amount: parseFloat(data.amount),\n        date: data.date + 'T00:00:00Z',\n        currency: data.currency\n      }\n    }\n  }\n};"
      },
      "id": "format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [848, 304],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1040, 304],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse Text", "type": "main", "index": 0}]]
    },
    "Parse Text": {
      "main": [[{"node": "Insert Transaction", "type": "main", "index": 0}]]
    },
    "Insert Transaction": {
      "main": [
        [{"node": "Format Response", "type": "main", "index": 0}],
        [{"node": "Error Response", "type": "main", "index": 0}]
      ]
    },
    "Format Response": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  }
}
