backend/n8n-workflows/financial-position-webhook.json
{
  "name": "Nexus Financial Position",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-financial-position",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "nexus-financial-position"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT finance.get_financial_position() as data;",
        "options": {}
      },
      "id": "postgres",
      "name": "Get Financial Position",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus Postgres"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ { success: true, ...JSON.parse($json.data) } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Financial Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Financial Position": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
