backend/n8n-workflows/finance-summary-api.json
{
  "id": "kkVqBoh1fl5OtWvJ",
  "name": "Nexus: Finance Summary API",
  "nodes": [
    {
      "parameters": {
        "path": "nexus-finance-summary",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 304],
      "webhookId": "nexus-finance-summary",
      "typeVersion": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SZxrJ8QXk6ZennvF",
          "name": "Nexus API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH monthly_totals AS (\n  SELECT\n    COALESCE(SUM(CASE WHEN amount < 0 THEN ABS(amount) ELSE 0 END), 0) as total_spent,\n    COALESCE(SUM(CASE WHEN is_grocery = true AND amount < 0 THEN ABS(amount) ELSE 0 END), 0) as grocery_spent,\n    COALESCE(SUM(CASE WHEN is_restaurant = true AND amount < 0 THEN ABS(amount) ELSE 0 END), 0) as eating_out_spent\n  FROM finance.transactions\n  WHERE date >= DATE_TRUNC('month', (NOW() AT TIME ZONE 'Asia/Dubai')::date)\n  AND date <= (NOW() AT TIME ZONE 'Asia/Dubai')::date\n),\nrecent_tx AS (\n  SELECT COALESCE(json_agg(json_build_object(\n    'id', id,\n    'date', to_char(date, 'YYYY-MM-DD') || 'T00:00:00Z',\n    'merchant_name', merchant_name,\n    'amount', amount,\n    'currency', COALESCE(currency, 'AED'),\n    'category', category,\n    'is_grocery', COALESCE(is_grocery, false),\n    'is_restaurant', COALESCE(is_restaurant, false)\n  ) ORDER BY date DESC, created_at DESC), '[]'::json) as transactions\n  FROM (\n    SELECT * FROM finance.transactions\n    WHERE date >= (NOW() AT TIME ZONE 'Asia/Dubai')::date - 30\n    ORDER BY date DESC, created_at DESC\n    LIMIT 20\n  ) t\n),\nbudgets_with_spent AS (\n  SELECT COALESCE(json_agg(json_build_object(\n    'id', b.id,\n    'month', to_char(b.month, 'YYYY-MM-DD'),\n    'category', b.category,\n    'budget_amount', b.budget_amount,\n    'spent', COALESCE(spent.total, 0),\n    'remaining', b.budget_amount - COALESCE(spent.total, 0)\n  )), '[]'::json) as budgets\n  FROM finance.budgets b\n  LEFT JOIN (\n    SELECT category, SUM(ABS(amount)) as total\n    FROM finance.transactions\n    WHERE amount < 0\n    AND date >= DATE_TRUNC('month', (NOW() AT TIME ZONE 'Asia/Dubai')::date)\n    GROUP BY category\n  ) spent ON spent.category = b.category\n  WHERE b.month = DATE_TRUNC('month', (NOW() AT TIME ZONE 'Asia/Dubai')::date)\n),\ncategory_breakdown AS (\n  SELECT COALESCE(json_object_agg(category, total), '{}'::json) as breakdown\n  FROM (\n    SELECT category, SUM(ABS(amount)) as total\n    FROM finance.transactions\n    WHERE amount < 0\n    AND date >= DATE_TRUNC('month', (NOW() AT TIME ZONE 'Asia/Dubai')::date)\n    AND category IS NOT NULL\n    GROUP BY category\n  ) cat\n)\nSELECT\n  m.total_spent,\n  m.grocery_spent,\n  m.eating_out_spent,\n  'AED' as currency,\n  r.transactions as recent_transactions,\n  bws.budgets,\n  cb.breakdown as category_breakdown\nFROM monthly_totals m, recent_tx r, budgets_with_spent bws, category_breakdown cb;",
        "options": {}
      },
      "id": "get-data",
      "name": "Get Data",
      "type": "n8n-nodes-base.postgres",
      "position": [464, 304],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      total_spent: parseFloat(data.total_spent) || 0,\n      grocery_spent: parseFloat(data.grocery_spent) || 0,\n      eating_out_spent: parseFloat(data.eating_out_spent) || 0,\n      currency: data.currency || 'AED',\n      recent_transactions: data.recent_transactions || [],\n      budgets: data.budgets || [],\n      category_breakdown: data.category_breakdown || {}\n    }\n  }\n};"
      },
      "id": "format",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "position": [688, 304],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [912, 304],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get Data", "type": "main", "index": 0}]]
    },
    "Get Data": {
      "main": [[{"node": "Format", "type": "main", "index": 0}]]
    },
    "Format": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
