backend/n8n-workflows/health-timeseries-webhook.json
{
  "name": "Nexus: Health Timeseries Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-health-timeseries",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Health Timeseries Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-health-timeseries",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT facts.get_health_timeseries({{ $json.query.days || 30 }}) as data;",
        "options": {}
      },
      "id": "fetch-timeseries",
      "name": "Fetch Health Timeseries",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first();\nconst data = row.json.data || [];\n\nreturn [{\n  json: {\n    success: true,\n    data: data,\n    count: data.length\n  }\n}];"
      },
      "id": "format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Health Timeseries Webhook": {
      "main": [
        [
          {
            "node": "Fetch Health Timeseries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Health Timeseries": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "nexus"
    }
  ]
}
