backend/n8n-workflows/installment-webhook.json
{
  "name": "Nexus: Installment Plan Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-installment",
        "responseMode": "responseNode", "options": {}
      },
      "id": "webhook",
      "name": "Installment Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-installment",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Parse installment plan input\nconst input = $input.first().json.body || $input.first().json;\n\n// Required fields\nif (!input.merchant || !input.total_amount) {\n  throw new Error('merchant and total_amount are required');\n}\n\nconst total = parseFloat(input.total_amount);\nconst installments = parseInt(input.installments) || 4;\nconst intervalDays = parseInt(input.interval_days) || 14;\nconst paidCount = parseInt(input.installments_paid) || 1;\n\n// Calculate dates\nconst purchaseDate = input.purchase_date || new Date().toISOString().split('T')[0];\nconst startDate = new Date(purchaseDate);\n\nlet nextDueDate = null;\nlet finalDueDate = null;\n\nif (paidCount < installments) {\n  const next = new Date(startDate);\n  next.setDate(next.getDate() + (intervalDays * paidCount));\n  nextDueDate = next.toISOString().split('T')[0];\n}\n\nconst final = new Date(startDate);\nfinal.setDate(final.getDate() + (intervalDays * (installments - 1)));\nfinalDueDate = final.toISOString().split('T')[0];\n\nreturn {\n  source: (input.source || 'tabby').toLowerCase(),\n  merchant: input.merchant,\n  total_amount: total,\n  installments_total: installments,\n  installments_paid: paidCount,\n  installment_amount: (total / installments).toFixed(2),\n  currency: input.currency || 'AED',\n  purchase_date: purchaseDate,\n  next_due_date: nextDueDate,\n  final_due_date: finalDueDate,\n  order_reference: input.order_reference || null,\n  notes: input.notes || null,\n  status: paidCount >= installments ? 'completed' : 'active'\n};"
      },
      "id": "parse-input",
      "name": "Parse & Calculate",
      "type": "n8n-nodes-base.code",
      "position": [460, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO finance.installments\n  (source, merchant, total_amount, installments_total, installments_paid,\n   installment_amount, currency, purchase_date, next_due_date, final_due_date, notes, status)\nVALUES\n  ('{{ $json.source }}', '{{ $json.merchant }}', {{ $json.total_amount }},\n   {{ $json.installments_total }}, {{ $json.installments_paid }},\n   {{ $json.installment_amount }}, '{{ $json.currency }}',\n   '{{ $json.purchase_date }}',\n   {{ $json.next_due_date ? \"'\" + $json.next_due_date + \"'\" : 'NULL' }},\n   {{ $json.final_due_date ? \"'\" + $json.final_due_date + \"'\" : 'NULL' }},\n   {{ $json.notes ? \"'\" + $json.notes + \"'\" : 'NULL' }},\n   '{{ $json.status }}')\nRETURNING id, merchant, total_amount, installment_amount, installments_total, next_due_date;",
        "options": {}
      },
      "id": "insert-plan",
      "name": "Insert Plan",
      "type": "n8n-nodes-base.postgres",
      "position": [680, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"installment\": {\n    \"id\": {{ $json.id }},\n    \"merchant\": \"{{ $json.merchant }}\",\n    \"total\": {{ $json.total_amount }},\n    \"per_payment\": {{ $json.installment_amount }},\n    \"payments\": {{ $json.installments_total }},\n    \"next_due\": {{ $json.next_due_date ? '\"' + $json.next_due_date + '\"' : 'null' }}\n  }\n}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Installment Webhook": {
      "main": [[{ "node": "Parse & Calculate", "type": "main", "index": 0 }]]
    },
    "Parse & Calculate": {
      "main": [[{ "node": "Insert Plan", "type": "main", "index": 0 }]]
    },
    "Insert Plan": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "nexus" }]
}
