backend/n8n-workflows/installments-fetch-webhook.json
{
  "name": "Nexus: Fetch Installments Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-installments",
        "options": { "responseMode": "responseNode" }
      },
      "id": "webhook",
      "name": "Fetch Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-installments",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM finance.v_active_installments;",
        "options": {}
      },
      "id": "get-active",
      "name": "Get Active Plans",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const plans = $input.all().map(i => i.json);\n\n// Calculate totals\nconst totalRemaining = plans.reduce((sum, p) => sum + parseFloat(p.remaining_amount || 0), 0);\nconst upcomingThisWeek = plans.filter(p => {\n  if (!p.next_due_date) return false;\n  const due = new Date(p.next_due_date);\n  const now = new Date();\n  const weekFromNow = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000);\n  return due <= weekFromNow;\n});\n\nreturn {\n  plans: plans,\n  summary: {\n    active_plans: plans.length,\n    total_remaining: totalRemaining.toFixed(2),\n    due_this_week: upcomingThisWeek.length,\n    due_this_week_amount: upcomingThisWeek.reduce((sum, p) => sum + parseFloat(p.installment_amount), 0).toFixed(2)\n  }\n};"
      },
      "id": "format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Fetch Webhook": {
      "main": [[{ "node": "Get Active Plans", "type": "main", "index": 0 }]]
    },
    "Get Active Plans": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "nexus" }]
}
