backend/n8n-workflows/installments-webhook.json
{
  "name": "Installments Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-installments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_get",
      "name": "GET Installments",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "nexus-installments-get"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-installments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_post",
      "name": "POST Installment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "nexus-installments-post"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  source,\n  merchant,\n  total_amount,\n  currency,\n  installments_total,\n  installments_paid,\n  installment_amount,\n  purchase_date,\n  next_due_date,\n  final_due_date,\n  status,\n  remaining_payments,\n  remaining_amount,\n  is_overdue,\n  is_due_soon\nFROM finance.v_active_installments",
        "options": {}
      },
      "id": "get_installments",
      "name": "Get Installments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 200],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// Calculate summary\nconst activePlans = rows.length;\nconst totalRemaining = rows.reduce((sum, r) => sum + parseFloat(r.remaining_amount || 0), 0);\nconst dueThisWeek = rows.filter(r => r.is_due_soon).length;\nconst dueThisWeekAmount = rows.filter(r => r.is_due_soon).reduce((sum, r) => sum + parseFloat(r.installment_amount || 0), 0);\n\nconst currency = rows.length > 0 ? rows[0].currency : 'AED';\n\nconst plans = rows.map(r => ({\n  id: r.id,\n  source: r.source,\n  merchant: r.merchant,\n  total_amount: parseFloat(r.total_amount),\n  currency: r.currency,\n  installments_total: r.installments_total,\n  installments_paid: r.installments_paid,\n  installment_amount: parseFloat(r.installment_amount),\n  purchase_date: r.purchase_date,\n  next_due_date: r.next_due_date,\n  final_due_date: r.final_due_date,\n  status: r.status,\n  remaining_payments: r.remaining_payments,\n  remaining_amount: parseFloat(r.remaining_amount),\n  is_overdue: r.is_overdue,\n  is_due_soon: r.is_due_soon\n}));\n\nreturn [{ json: {\n  plans,\n  summary: {\n    active_plans: activePlans,\n    total_remaining: totalRemaining.toFixed(2),\n    due_this_week: dueThisWeek,\n    due_this_week_amount: dueThisWeekAmount.toFixed(2)\n  }\n}}];"
      },
      "id": "format_response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond_get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst source = (body.source || '').toLowerCase();\nconst merchant = body.merchant;\nconst totalAmount = parseFloat(body.total_amount || body.totalAmount);\nconst installmentsTotal = parseInt(body.installments_total || body.installmentsTotal || 4);\nconst installmentAmount = totalAmount / installmentsTotal;\nconst currency = body.currency || 'AED';\nconst purchaseDate = body.purchase_date || body.purchaseDate || null;\nconst nextDueDate = body.next_due_date || body.nextDueDate || null;\nconst finalDueDate = body.final_due_date || body.finalDueDate || null;\n\nif (!['tabby', 'tamara', 'postpay', 'other'].includes(source)) {\n  return [{ json: { valid: false, error: 'source must be tabby, tamara, postpay, or other' } }];\n}\n\nif (!merchant || merchant.trim().length === 0) {\n  return [{ json: { valid: false, error: 'merchant is required' } }];\n}\n\nif (!totalAmount || totalAmount <= 0) {\n  return [{ json: { valid: false, error: 'total_amount must be positive' } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  source,\n  merchant: merchant.trim(),\n  totalAmount,\n  installmentsTotal,\n  installmentAmount: installmentAmount.toFixed(2),\n  currency,\n  purchaseDate,\n  nextDueDate,\n  finalDueDate\n} }];"
      },
      "id": "validate_post",
      "name": "Validate POST",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "valid", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO finance.installments (\n  source, merchant, total_amount, currency,\n  installments_total, installment_amount,\n  purchase_date, next_due_date, final_due_date\n)\nVALUES (\n  '{{ $json.source }}',\n  '{{ $json.merchant.replace(/'/g, \"''\") }}',\n  {{ $json.totalAmount }},\n  '{{ $json.currency }}',\n  {{ $json.installmentsTotal }},\n  {{ $json.installmentAmount }},\n  {{ $json.purchaseDate ? \"'\" + $json.purchaseDate + \"'\" : 'NULL' }},\n  {{ $json.nextDueDate ? \"'\" + $json.nextDueDate + \"'\" : 'NULL' }},\n  {{ $json.finalDueDate ? \"'\" + $json.finalDueDate + \"'\" : 'NULL' }}\n)\nRETURNING id, source, merchant, total_amount, status",
        "options": {}
      },
      "id": "insert_installment",
      "name": "Insert Installment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"id\": {{ $json.id }}, \"merchant\": {{ JSON.stringify($json.merchant) }} }",
        "options": {}
      },
      "id": "respond_post_success",
      "name": "Respond POST Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": {{ JSON.stringify($json.error) }} }",
        "options": { "responseCode": 400 }
      },
      "id": "respond_post_error",
      "name": "Respond POST Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "GET Installments": { "main": [[{ "node": "Get Installments", "type": "main", "index": 0 }]] },
    "Get Installments": { "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]] },
    "Format Response": { "main": [[{ "node": "Respond GET", "type": "main", "index": 0 }]] },
    "POST Installment": { "main": [[{ "node": "Validate POST", "type": "main", "index": 0 }]] },
    "Validate POST": { "main": [[{ "node": "IF Valid", "type": "main", "index": 0 }]] },
    "IF Valid": {
      "main": [
        [{ "node": "Insert Installment", "type": "main", "index": 0 }],
        [{ "node": "Respond POST Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert Installment": { "main": [[{ "node": "Respond POST Success", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
