backend/n8n-workflows/monthly-trends-webhook.json
{
  "name": "Nexus - Monthly Trends Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-monthly-trends",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nexus-monthly-trends"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get monthly spending for last N months\nWITH monthly_totals AS (\n  SELECT \n    TO_CHAR(date, 'YYYY-MM') as month,\n    SUM(ABS(amount)) as total_spent\n  FROM finance.transactions\n  WHERE date >= (NOW() AT TIME ZONE 'Asia/Dubai')::date - INTERVAL '{{ $json.query.months || 3 }} months'\n  GROUP BY TO_CHAR(date, 'YYYY-MM')\n  ORDER BY month DESC\n),\ncategory_breakdown AS (\n  SELECT \n    TO_CHAR(date, 'YYYY-MM') as month,\n    category,\n    SUM(ABS(amount)) as amount\n  FROM finance.transactions\n  WHERE date >= (NOW() AT TIME ZONE 'Asia/Dubai')::date - INTERVAL '{{ $json.query.months || 3 }} months'\n    AND category IS NOT NULL\n  GROUP BY TO_CHAR(date, 'YYYY-MM'), category\n)\nSELECT \n  mt.month,\n  mt.total_spent,\n  jsonb_object_agg(cb.category, cb.amount) FILTER (WHERE cb.category IS NOT NULL) as category_breakdown\nFROM monthly_totals mt\nLEFT JOIN category_breakdown cb ON mt.month = cb.month\nGROUP BY mt.month, mt.total_spent\nORDER BY mt.month;",
        "options": {}
      },
      "name": "Get Monthly Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst months = items.map(item => {\n  const r = item.json;\n  const breakdown = r.category_breakdown || {};\n  const parsed = {};\n  for (const [cat, val] of Object.entries(breakdown)) {\n    parsed[cat] = parseFloat(val) || 0;\n  }\n  return {\n    month: r.month,\n    total_spent: parseFloat(r.total_spent) || 0,\n    category_breakdown: parsed\n  };\n});\nreturn [{ json: { monthly_spending: months } }];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [870, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Error fetching monthly trends: {{ $json.message }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get Monthly Data", "type": "main", "index": 0}]]
    },
    "Get Monthly Data": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
