backend/n8n-workflows/mood-log-webhook.json
{
  "name": "Mood Log Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-mood",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nexus-mood"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst moodScore = parseInt(body.mood || body.mood_score || body.moodScore);\nconst energyScore = body.energy || body.energy_score || body.energyScore;\nconst notes = body.notes || null;\nconst clientId = body.client_id || body.clientId || null;\n\nif (!moodScore || moodScore < 1 || moodScore > 10) {\n  return [{ json: { valid: false, error: 'mood required (1-10)' } }];\n}\n\nconst energyInt = energyScore ? parseInt(energyScore) : null;\nif (energyInt && (energyInt < 1 || energyInt > 10)) {\n  return [{ json: { valid: false, error: 'energy must be 1-10' } }];\n}\n\nreturn [{ json: { valid: true, moodScore, energyScore: energyInt, notes, clientId } }];"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "valid", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw.mood_log (mood_score, energy_score, notes, client_id, source)\nVALUES (\n  {{ $json.moodScore }},\n  {{ $json.energyScore || 'NULL' }},\n  {{ $json.notes ? \"'\" + $json.notes.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.clientId ? \"'\" + $json.clientId + \"'\" : 'NULL' }},\n  'ios-app'\n)\nON CONFLICT (client_id) DO NOTHING\nRETURNING id, date, mood_score, energy_score, logged_at",
        "options": {}
      },
      "id": "postgres",
      "name": "Insert Mood Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 200],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nreturn [{ json: {\n  success: true,\n  id: result?.id,\n  date: result?.date,\n  mood_score: result?.mood_score,\n  energy_score: result?.energy_score\n} }];"
      },
      "id": "format_success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond_success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1260, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": {{ JSON.stringify($json.error) }} }",
        "options": { "responseCode": 400 }
      },
      "id": "respond_error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "IF Valid", "type": "main", "index": 0 }]] },
    "IF Valid": {
      "main": [
        [{ "node": "Insert Mood Log", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert Mood Log": { "main": [[{ "node": "Format Success", "type": "main", "index": 0 }]] },
    "Format Success": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
