backend/n8n-workflows/music-listening-webhook.json
{
  "name": "Nexus: Music Listening Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-music-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-post",
      "name": "Music Events POST",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 200],
      "webhookId": "nexus-music-events",
      "typeVersion": 2
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-music-history",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Music History GET",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 500],
      "webhookId": "nexus-music-history",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\nconst events = input.events;\n\nif (!events || !Array.isArray(events) || events.length === 0) {\n  throw new Error('events array is required and must not be empty');\n}\n\nconst validated = events.map(e => {\n  if (!e.session_id || !e.track_title || !e.started_at) {\n    throw new Error('Each event requires session_id, track_title, and started_at');\n  }\n  return {\n    session_id: e.session_id,\n    track_title: e.track_title,\n    artist: e.artist || null,\n    album: e.album || null,\n    duration_sec: e.duration_sec ? parseInt(e.duration_sec) : null,\n    apple_music_id: e.apple_music_id || null,\n    started_at: e.started_at,\n    ended_at: e.ended_at || null,\n    source: e.source || 'apple_music',\n    raw_json: JSON.stringify(e)\n  };\n});\n\nreturn { events: validated, count: validated.length };"
      },
      "id": "validate-events",
      "name": "Validate Events",
      "type": "n8n-nodes-base.code",
      "position": [480, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (function() {\n  const events = $json.events;\n  const values = events.map(e =>\n    `('${e.session_id}', '${e.track_title.replace(/'/g, \"''\")}', ${e.artist ? \"'\" + e.artist.replace(/'/g, \"''\") + \"'\" : 'NULL'}, ${e.album ? \"'\" + e.album.replace(/'/g, \"''\") + \"'\" : 'NULL'}, ${e.duration_sec || 'NULL'}, ${e.apple_music_id ? \"'\" + e.apple_music_id + \"'\" : 'NULL'}, '${e.started_at}', ${e.ended_at ? \"'\" + e.ended_at + \"'\" : 'NULL'}, '${e.source}', '${e.raw_json.replace(/'/g, \"''\")}')`\n  ).join(',\\n');\n  return `INSERT INTO life.listening_events (session_id, track_title, artist, album, duration_sec, apple_music_id, started_at, ended_at, source, raw_json)\\nVALUES ${values}\\nON CONFLICT (session_id, started_at) DO NOTHING\\nRETURNING id, session_id, track_title, started_at;`;\n})() }}",
        "options": {}
      },
      "id": "insert-events",
      "name": "Batch Insert Events",
      "type": "n8n-nodes-base.postgres",
      "position": [720, 200],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Inserted {{ $('Validate Events').item.json.count }} event(s)\",\n  \"inserted\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [960, 200],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst limit = Math.min(parseInt(query.limit) || 10, 100);\nreturn { limit };"
      },
      "id": "parse-get",
      "name": "Parse GET Params",
      "type": "n8n-nodes-base.code",
      "position": [480, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, session_id, track_title, artist, album, duration_sec, apple_music_id, started_at, ended_at, source\nFROM life.listening_events\nORDER BY started_at DESC\nLIMIT {{ $json.limit }};",
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.postgres",
      "position": [720, 500],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"events\": {{ JSON.stringify($input.all().map(i => i.json)) }}\n}",
        "options": {}
      },
      "id": "respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [960, 500],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Music Events POST": {
      "main": [[{"node": "Validate Events", "type": "main", "index": 0}]]
    },
    "Validate Events": {
      "main": [[{"node": "Batch Insert Events", "type": "main", "index": 0}]]
    },
    "Batch Insert Events": {
      "main": [[{"node": "Respond POST", "type": "main", "index": 0}]]
    },
    "Music History GET": {
      "main": [[{"node": "Parse GET Params", "type": "main", "index": 0}]]
    },
    "Parse GET Params": {
      "main": [[{"node": "Fetch History", "type": "main", "index": 0}]]
    },
    "Fetch History": {
      "main": [[{"node": "Respond GET", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"name": "lifeos"},
    {"name": "music"}
  ],
  "active": true
}
