backend/n8n-workflows/note-update-webhook.json
{
  "name": "Nexus: Note Update Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "nexus-note-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Note Update Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-note-update",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const id = $input.first().json.query.id;\nconst body = $input.first().json.body || {};\nconst title = body.title;\nconst tags = body.tags;\n\nif (!id || id === '') {\n  return [{ json: { valid: false, error: 'Missing or invalid note ID' } }];\n}\n\nif (!title && !tags) {\n  return [{ json: { valid: false, error: 'Must provide title or tags to update' } }];\n}\n\nreturn [{ json: { valid: true, id: parseInt(id), title: title || null, tags: tags || null } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "position": [460, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw.notes_index SET\n  title = COALESCE($1, title),\n  tags = COALESCE($2, tags),\n  updated_at = NOW()\nWHERE id = $3\nRETURNING id, title, tags;",
        "options": {
          "queryParams": "={{ [$json.title, $json.tags, $json.id] }}"
        }
      },
      "id": "update-note",
      "name": "Update Note",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 200],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.first().json;\nconst updated = Array.isArray(rows) ? rows.length > 0 : !!rows.id;\n\nreturn [{\n  json: {\n    success: updated,\n    message: updated ? 'Note updated' : 'Note not found'\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [1120, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1340, 200],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 420],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Note Update Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Update Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Note": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
