backend/n8n-workflows/note-delete-webhook.json
{
  "name": "Nexus: Note Delete Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "nexus-note-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Note Delete Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-note-delete",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const id = $input.first().json.query.id;\n\nif (!id || id === '') {\n  return [{ json: { valid: false, error: 'Missing or invalid note ID' } }];\n}\n\nreturn [{ json: { valid: true, id: parseInt(id) } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "position": [460, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw.notes_index SET deleted_at = NOW() WHERE id = $1 RETURNING id, title;",
        "options": {}
      },
      "id": "delete-note",
      "name": "Soft Delete Note",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 200],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first();\nconst deleted = row.json.length > 0;\n\nreturn [{\n  json: {\n    success: deleted,\n    message: deleted ? 'Note deleted successfully' : 'Note not found'\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [1120, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1340, 200],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 420],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Note Delete Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Soft Delete Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft Delete Note": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
