backend/n8n-workflows/pending-meals-webhook.json
{
  "name": "Nexus: Pending Meals Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "nexus-pending-meals",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "pending-meals-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM life.get_pending_meal_confirmations(\n  COALESCE('{{ $json.query.date }}'::DATE, (NOW() AT TIME ZONE 'Asia/Dubai')::date)\n)",
        "options": {}
      },
      "id": "postgres-query",
      "name": "Fetch Pending Meals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"meals\": $json } }}"
      },
      "id": "response-node",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Pending Meals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Meals": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-25T19:55:00.000Z",
  "versionId": "1"
}
