backend/n8n-workflows/power-metrics-sync.json
{
  "name": "Nexus: Power Metrics Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "{{ $env.HOME_ASSISTANT_URL }}/api/states",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-ha-states",
      "name": "Get HA States",
      "type": "n8n-nodes-base.httpRequest",
      "position": [460, 300],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "i8GNdq9zaSY5GVVO",
          "name": "HA Token New"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract power monitoring sensors from HA Tuya plugs\nconst states = $input.first().json;\nconst now = new Date().toISOString();\nconst today = now.split('T')[0];\n\n// Map power sensors to device names (from CLAUDE.md)\nconst powerSensors = {\n  'sensor.leftmonplug_power': 'studio_monitor_left',\n  'sensor.rightmonplug_power': 'studio_monitor_right',\n  'sensor.3d_printer_power': '3d_printer',\n  'sensor.living_room_lamp_power': 'living_room_lamp'\n};\n\nconst voltageSensors = {\n  'sensor.leftmonplug_voltage': 'studio_monitor_left',\n  'sensor.rightmonplug_voltage': 'studio_monitor_right',\n  'sensor.3d_printer_voltage': '3d_printer',\n  'sensor.living_room_lamp_voltage': 'living_room_lamp'\n};\n\nconst currentSensors = {\n  'sensor.leftmonplug_current': 'studio_monitor_left',\n  'sensor.rightmonplug_current': 'studio_monitor_right',\n  'sensor.3d_printer_current': '3d_printer',\n  'sensor.living_room_lamp_current': 'living_room_lamp'\n};\n\n// Group metrics by device\nconst deviceMetrics = {};\n\nfor (const state of states) {\n  // Power\n  const powerDevice = powerSensors[state.entity_id];\n  if (powerDevice && state.state !== 'unavailable' && state.state !== 'unknown') {\n    const power = parseFloat(state.state);\n    if (!isNaN(power)) {\n      if (!deviceMetrics[powerDevice]) {\n        deviceMetrics[powerDevice] = { recorded_at: state.last_updated || now, date: today, entity_id: state.entity_id };\n      }\n      deviceMetrics[powerDevice].power_w = power;\n    }\n  }\n  \n  // Voltage\n  const voltageDevice = voltageSensors[state.entity_id];\n  if (voltageDevice && state.state !== 'unavailable' && state.state !== 'unknown') {\n    const voltage = parseFloat(state.state);\n    if (!isNaN(voltage)) {\n      if (!deviceMetrics[voltageDevice]) {\n        deviceMetrics[voltageDevice] = { recorded_at: state.last_updated || now, date: today, entity_id: state.entity_id };\n      }\n      deviceMetrics[voltageDevice].voltage_v = voltage;\n    }\n  }\n  \n  // Current\n  const currentDevice = currentSensors[state.entity_id];\n  if (currentDevice && state.state !== 'unavailable' && state.state !== 'unknown') {\n    const current = parseFloat(state.state);\n    if (!isNaN(current)) {\n      if (!deviceMetrics[currentDevice]) {\n        deviceMetrics[currentDevice] = { recorded_at: state.last_updated || now, date: today, entity_id: state.entity_id };\n      }\n      deviceMetrics[currentDevice].current_a = current;\n    }\n  }\n}\n\n// Convert to array with device names\nconst metrics = Object.entries(deviceMetrics).map(([device, data]) => ({\n  ...data,\n  device_name: device\n}));\n\nreturn metrics;"
      },
      "id": "extract-metrics",
      "name": "Extract Power Metrics",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-metrics",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-metrics",
      "name": "Has Metrics?",
      "type": "n8n-nodes-base.if",
      "position": [900, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH value_rows AS (\n  SELECT * FROM json_to_recordset($1::json) AS x(\n    recorded_at TEXT,\n    date TEXT,\n    device_name TEXT,\n    entity_id TEXT,\n    power_w NUMERIC,\n    voltage_v NUMERIC,\n    current_a NUMERIC\n  )\n)\nINSERT INTO home.power_log (recorded_at, date, device_name, entity_id, power_w, voltage_v, current_a)\nSELECT \n  recorded_at::TIMESTAMP WITH TIME ZONE,\n  date::DATE,\n  device_name,\n  entity_id,\n  power_w,\n  voltage_v,\n  current_a\nFROM value_rows\nON CONFLICT DO NOTHING\nRETURNING id, device_name, power_w;",
        "queryParams": "={{ JSON.stringify($input.all().map(item => item.json)) }}",
        "options": {}
      },
      "id": "insert-metrics",
      "name": "Insert to Nexus",
      "type": "n8n-nodes-base.postgres",
      "position": [1120, 200],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-metrics",
      "name": "No Metrics",
      "type": "n8n-nodes-base.noOp",
      "position": [1120, 400],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get HA States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HA States": {
      "main": [
        [
          {
            "node": "Extract Power Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Power Metrics": {
      "main": [
        [
          {
            "node": "Has Metrics?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Metrics?": {
      "main": [
        [
          {
            "node": "Insert to Nexus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a4b2c3d4e5f6a7b8c9d0e1f2a3b4c5d"
  },
  "id": "power-metrics-sync",
  "tags": []
}
