backend/n8n-workflows/refresh-summary-webhook.json
{
  "name": "Nexus: Refresh Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-refresh-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-refresh-summary",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM life.refresh_all(1, 'ios_manual_refresh');",
        "options": {}
      },
      "id": "refresh",
      "name": "Refresh Facts",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst summary = results.map(r => r.json).filter(r => r.status);\nconst successCount = summary.filter(r => r.status === 'success').length;\nconst errorCount = summary.filter(r => r.status === 'error').length;\n\nreturn [{\n  json: {\n    success: errorCount === 0,\n    message: `Refreshed ${successCount} domain(s)${errorCount > 0 ? `, ${errorCount} error(s)` : ''}`,\n    data: null\n  }\n}];"
      },
      "id": "format",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Refresh Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Facts": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "nexus"
    }
  ]
}
