backend/n8n-workflows/refresh-queue-worker.json
{
  "name": "Nexus - Refresh Queue Worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "name": "Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM life.process_pending_refreshes(100)",
        "options": {}
      },
      "name": "Process Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.dates_processed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "name": "Has Work?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {},
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 250]
    },
    {
      "parameters": {},
      "name": "No Work",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Every 30 Seconds": {
      "main": [[{"node": "Process Queue", "type": "main", "index": 0}]]
    },
    "Process Queue": {
      "main": [[{"node": "Has Work?", "type": "main", "index": 0}]]
    },
    "Has Work?": {
      "main": [
        [{"node": "Done", "type": "main", "index": 0}],
        [{"node": "No Work", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "nexus",
      "createdAt": "2026-02-07T00:00:00.000Z"
    },
    {
      "name": "background",
      "createdAt": "2026-02-07T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
