backend/n8n-workflows/reminder-upsert-webhook.json
{
  "name": "Nexus - Reminder Create/Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-reminder-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "reminder-create"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst reminder_id = body.reminder_id || null;\nconst title = body.title;\nconst notes = body.notes || null;\nconst due_date = body.due_date || null;\nconst priority = body.priority || 0;\nconst list_name = body.list_name || null;\nconst is_completed = body.is_completed || false;\n\nif (!title) {\n  throw new Error('title is required');\n}\n\nreturn { reminder_id, title, notes, due_date, priority, list_name, is_completed };"
      },
      "id": "parse-body",
      "name": "Parse Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM life.upsert_reminder({{ $json.reminder_id ? \"'\" + $json.reminder_id + \"'\" : 'NULL' }}, '{{ $json.title.replace(/'/g, \"''\") }}', {{ $json.notes ? \"'\" + $json.notes.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.due_date ? \"'\" + $json.due_date + \"'::timestamptz\" : 'NULL' }}, {{ $json.priority }}, {{ $json.list_name ? \"'\" + $json.list_name + \"'\" : 'NULL' }}, {{ $json.is_completed }})",
        "options": {}
      },
      "id": "upsert",
      "name": "Upsert Reminder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, reminder_id: $json.reminder_id, was_created: $json.was_created }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse Body", "type": "main", "index": 0}]]
    },
    "Parse Body": {
      "main": [[{"node": "Upsert Reminder", "type": "main", "index": 0}]]
    },
    "Upsert Reminder": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {"name": "nexus", "createdAt": "2026-02-08T00:00:00.000Z"},
    {"name": "reminders", "createdAt": "2026-02-08T00:00:00.000Z"}
  ],
  "triggerCount": 1,
  "versionId": "2"
}
