backend/n8n-workflows/reminders-events-webhook.json
{
  "name": "Nexus: Reminders Events Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-reminders",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Reminders Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-reminders",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst today = new Date().toISOString().slice(0, 10);\nconst start = $input.first().json.query.start || today;\nconst end = $input.first().json.query.end || today;\n\nif (!dateRegex.test(start) || !dateRegex.test(end)) {\n  return [{ json: { valid: false, error: 'Invalid date format. Expected YYYY-MM-DD.' } }];\n}\n\nreturn [{ json: { valid: true, start, end } }];"
      },
      "id": "validate-dates",
      "name": "Validate Dates",
      "type": "n8n-nodes-base.code",
      "position": [460, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT json_agg(row_to_json(r.*)) AS reminders FROM (\n  SELECT\n    reminder_id,\n    title,\n    notes,\n    to_char(due_date AT TIME ZONE 'Asia/Dubai', 'YYYY-MM-DD\"T\"HH24:MI:SS') AS due_date,\n    is_completed,\n    to_char(completed_date AT TIME ZONE 'Asia/Dubai', 'YYYY-MM-DD\"T\"HH24:MI:SS') AS completed_date,\n    priority,\n    list_name\n  FROM life.v_active_reminders\n  WHERE (\n    (due_date IS NOT NULL AND (due_date AT TIME ZONE 'Asia/Dubai')::date\n      BETWEEN '{{ $json.start }}'::date\n      AND '{{ $json.end }}'::date)\n    OR (due_date IS NULL AND is_completed = false)\n  )\n  ORDER BY\n    is_completed ASC,\n    COALESCE(due_date, '9999-12-31'::timestamptz) ASC,\n    priority DESC\n) r;",
        "options": {}
      },
      "id": "fetch-reminders",
      "name": "Fetch Reminders",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 200],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first();\nconst reminders = row.json.reminders || [];\n\nreturn [{\n  json: {\n    success: true,\n    reminders: reminders,\n    count: reminders.length\n  }\n}];"
      },
      "id": "format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [1120, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1340, 200],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 420],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Reminders Webhook": {
      "main": [
        [
          {
            "node": "Validate Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Dates": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Fetch Reminders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reminders": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "nexus"
    }
  ]
}
