backend/n8n-workflows/sleep-fetch-webhook.json
{
  "name": "Nexus: Sleep Fetch Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-sleep",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Sleep Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "nexus-sleep",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH target_date AS (\n  SELECT COALESCE(\n    NULLIF('{{ $json.query.date }}', '')::date,\n    (NOW() AT TIME ZONE 'Asia/Dubai')::date\n  ) AS dt\n)\nSELECT\n  t.dt::text AS date,\n  json_build_object(\n    'time_in_bed_min', s.time_in_bed_min,\n    'awake_min', s.awake_min,\n    'light_sleep_min', s.light_sleep_min,\n    'deep_sleep_min', s.deep_sleep_min,\n    'rem_sleep_min', s.rem_sleep_min,\n    'sleep_efficiency', s.sleep_efficiency,\n    'sleep_performance', s.sleep_performance,\n    'respiratory_rate', s.respiratory_rate\n  ) AS sleep,\n  json_build_object(\n    'recovery_score', r.recovery_score,\n    'hrv_rmssd', r.hrv_rmssd,\n    'rhr', r.rhr,\n    'spo2', r.spo2,\n    'skin_temp', r.skin_temp\n  ) AS recovery\nFROM target_date t\nLEFT JOIN health.whoop_sleep s ON s.date = t.dt\nLEFT JOIN health.whoop_recovery r ON r.date = t.dt;",
        "options": {}
      },
      "id": "fetch-sleep",
      "name": "Fetch Sleep Data",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nif (rows.length === 0 || !rows[0].json.date) {\n  return [{ json: { success: true, data: null } }];\n}\n\nconst row = rows[0].json;\nreturn [{\n  json: {\n    success: true,\n    data: {\n      date: row.date,\n      sleep: row.sleep,\n      recovery: row.recovery\n    }\n  }\n}];"
      },
      "id": "format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [900, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Sleep Webhook": {
      "main": [
        [
          {
            "node": "Fetch Sleep Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sleep Data": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "nexus"
    }
  ]
}
