backend/n8n-workflows/sync-status-webhook.json
{
  "name": "Nexus: Sync Status API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nexus-sync-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "nexus-sync-status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_agg(row_to_json(s)) as domains FROM ops.v_sync_status s;",
        "options": {}
      },
      "name": "Query Sync Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [400, 300],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst domains = result.domains || [];\n\nreturn [{\n  json: {\n    success: true,\n    domains: domains,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Query Sync Status", "type": "main", "index": 0 } ]]
    },
    "Query Sync Status": {
      "main": [[ { "node": "Format Response", "type": "main", "index": 0 } ]]
    },
    "Format Response": {
      "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
