backend/n8n-workflows/water-log-webhook.json
{
  "name": "Water Log Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-water",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nexus-water"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst amountMl = parseInt(body.amount_ml || body.amountMl || body.amount);\nconst clientId = body.client_id || body.clientId || null;\n\nif (!amountMl || amountMl < 1 || amountMl > 10000) {\n  return [{ json: { valid: false, error: 'amount_ml required (1-10000)' } }];\n}\n\nreturn [{ json: { valid: true, amountMl, clientId } }];"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "valid", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO nutrition.water_log (amount_ml, client_id, source)\nVALUES ({{ $json.amountMl }}, {{ $json.clientId ? \"'\" + $json.clientId + \"'\" : 'NULL' }}, 'ios-app')\nON CONFLICT (client_id) DO NOTHING\nRETURNING id, date, amount_ml, logged_at",
        "options": {}
      },
      "id": "postgres",
      "name": "Insert Water Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 200],
      "credentials": {
        "postgres": {
          "id": "p5cyLWCZ9Db6GiiQ",
          "name": "Nexus Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nreturn [{ json: { success: true, id: result?.id, date: result?.date, amount_ml: result?.amount_ml } }];"
      },
      "id": "format_success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond_success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1260, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": {{ JSON.stringify($json.error) }} }",
        "options": { "responseCode": 400 }
      },
      "id": "respond_error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "IF Valid", "type": "main", "index": 0 }]] },
    "IF Valid": {
      "main": [
        [{ "node": "Insert Water Log", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert Water Log": { "main": [[{ "node": "Format Success", "type": "main", "index": 0 }]] },
    "Format Success": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
